# Mandatory Assignment 1

## Tax Revenues and Municipal Tax Rates in Denmark
By: Mathias Nikolaisen(dnt357), Oliver Mattthews(jvc975) & Clara Maj Folkmann(djz279)

### Problem 1: Descriptive analysis

In [2]:
import pandas as pd
df = pd.read_stata('A1_kommune.dta')
print(df.shape)
print(df.columns)

     nr                kommune        taxrev    taxrate     pop
0   101     Københavns Kommune  44170.335938  23.799999  528208
1   147  Frederiksberg Kommune   6682.439941  23.100000   96718
2   151       Ballerup Kommune   4598.704102  25.500000   47652
3   153        Brøndby Kommune   3121.204834  24.500000   33795
4   155         Dragør Kommune    858.017944  24.799999   13564
..  ...                    ...           ...        ...     ...
93  840         Rebild Kommune   1957.348511  25.100000   28852
94  846  Mariagerfjord Kommune   3186.054932  25.700001   42604
95  849     Jammerbugt Kommune   3241.256592  25.299999   38927
96  851        Aalborg Kommune  16330.091797  25.400000  197426
97  860       Hjørring Kommune   5061.796875  25.400000   66803

[98 rows x 5 columns]

### Problem 2: Empirical analysis of tax revenues and municipal tax rates

In [1]:
#To do

### Problem 3: Multiple linear regression as two simple linear regressions

In [17]:
#To do

### Problem 4: Conclusion

In [20]:
#To do